#result {
  display: none;
  text-align: center;
  margin: 10px;
  padding: 4px;
  border: solid 4px;
  background-color: silver;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

body  {
  background: #ffffcc;
}
